{% extends 'AutoplanCMSBundle::layout.html.twig' %}

{% block content %}

    <ol class="breadcrumb bc-3">
        <li>
            <a href="{{ path('admin_dashboard') }}"><i class="entypo-home"></i>Home</a>
        </li>
        <li>
            <a href="{{ path('admin_employee') }}">Medewerkers</a>
        </li>
        <li class="active">

            <strong>Medewerker toevoegen</strong>
        </li>
    </ol>

    <h2>Voeg medewerker toe</h2>


    <form role="form" class="form-horizontal form-groups-bordered" action="{{ path('admin_employee_new') }}" method="post" {{ form_enctype(form) }}>

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-primary" data-collapsed="0">

                    <div class="panel-heading">
                        <div class="panel-title">
                            Medewerker
                        </div>
                    </div>

                    <div class="panel-body">
                        {{ form_row(form.name) }}
                        {{ form_row(form.position) }}
                        {{ form_row(form.tagline) }}
                        {{ form_row(form.image) }}

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-5">
                                <button type="submit" class="btn btn-default">Opslaan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {{ form_widget(form._token) }}

    </form>

{% endblock %}